@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.cont {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: dodgerblue;
  font-family: "Manrope", sans-serif;
}

.semiCont {
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 4px;
  background: white;
  color: black;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 4px;
}

.box form {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.equationBox {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.inp {
  border: none;
  width: auto;
  margin: 0 5px;
  font-size: 1.2rem;
  padding: 5px 8px;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-radius: 15px;
  outline: none;
}

input[type="number"] {
  field-sizing: content;
  min-width: 4rem !important;
}

form label {
  display: block;
  min-width: 2.5rem;
  text-align: center;
}

.buttonBox {
  display: inherit;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.btn {
  padding: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(56, 255, 189);
  color: white;
  font-weight: 700;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  outline: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: rgb(25, 250, 175);
}

.box2 {
  margin-top: 20px;
  padding: 1rem;
  width: 100%;
  min-height: 3rem;
  max-height: auto;
  background-color: white;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: height 0.8s ease;
}

.box2 h3 {
  font-size: 1.5rem;
}

.boxPera {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #222;
  letter-spacing: 1.5px;
}

.boxPera span {
  color: black;
  font-weight: 600;
}

.hidden {
  display: none;
}

.hide {
  display: none;
}

#btn2 {
  background: #d94b4b;
}

#btn2:hover {
  background: brown;
}

@media only screen and (max-width: 510px) {
  .cont {
    padding: 0 1rem;
  }
  .semiCont {
    width: 100%;
  }

  .box form {
    flex-wrap: wrap;
  }

  form .equationBox {
    width: 100%;
  }
}
